
<footer class="border-top footer text-muted bg-dark py-4">
    <div class="container text-center">
        <p>&copy;@(DateTime.Now.Year) - <a class="footer" asp-area="" asp-page="/Index" style="color: forestgreen; font-weight:600">EstoqueWEB</a>. Todos os direitos reservados.</p>
    </div>
</footer>
