
<footer class="border-top footer text-muted bg-dark py-4">
    <div class="container text-center">
        <p>EstoqueWEB&copy; - @(DateTime.Now.Year) - Todos os direitos reservados.</p>
    </div>
</footer>
