
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow py-3 mb-3">
        <div class="container">
            <a class="navbar-brand" style="color: forestgreen; font-weight:600" asp-area="" asp-page="/Index"><b>EstoqueWEB</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-page="/Cadastro">Cadastros</a>
                        <ul class="dropdown-menu">                         
                            <li class="dropdown-item" asp-page="/Produtos/Index">Produtos</li>
                            <li class="dropdown-item" asp-page="/Fornecedores/Index">Fornecedores</li>
                            <li class="dropdown-item" asp-page="/Clientes/Index">Clientes</li>
                            <li class="dropdown-item" asp-page="/Enderecos/Index">Endereços</li>
                            <li><hr class="dropdown-divider" /></li>
                            <li class="dropdown-item"><a asp-page="/Forms/CategoriaForm" style="text-decoration:none">Categorias</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" asp-area="" asp-page="/Relatorios">Relatórios</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-page="/Movimentacoes">Movimentações</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" asp-page="/Movimentacoes/Entradas">Entradas</li>
                            <li class="dropdown-item" asp-page="/Movimentacoes/Saidas">Saídas</li>
                        </ul>
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-outline-light" asp-area="Admin" asp-page="/Auth/Logout">Sair do EstoqueWEB</a>
                </div>
            </div>
        </div>
    </nav>
</header>
