@page "forms/categoriaform"
@model EstoqueWEB.Pages.Forms.CategoriaFormModel
@{
    ViewData["Title"] = "Cadastro de Categorias";
}

<h1>Cadastro de Categorias</h1>

<form class="form-control">
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Criar Categoria</button>
    </div>
    <div class="mb-3">
        <label for="formCadCategoria" class="form-label">Nome/Categoria</label>
        <input type="text" class="form-control" id="formCadCategoria" placeholder="Entre com a nova categoria">
    </div>
    <div class="mb-3">
        <label for="formCadCategoriaDesc" class="form-label">Descrição da Categoria</label>
        <textarea class="form-control" id="formCadCategoriaDesc" rows="3"></textarea>
    </div>
</form>
