@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao seu novo 'Controle de Estoque' na WEB."</h1>
    <p>Aprenda a controlar suas compras de materiais de expediente, insumos e produtos finais para entender o fluxo financeiro investido em sua empresa.</p>
</div>
